{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Comments</h2>
        <a href="{% url 'comment' post %}" class="btn btn-primary">Add Comment</a>
        <ul class="list-group">
          {% for comment in comments %}
            <li class="list-group-item">
              <strong>{{ comment.user }}</strong>: {{ comment.comment }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
