{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">All Posts</h1>
<div class="container">

  <div class="row ">
    
    <div class="col-md-4 mx-auto ">
      {% for post in posts %}
      <a href="{% url 'profile' post.user.pk%}" style="bl"><h5 class="card-title">{{ post.user.username }}</h5></a>
      <img src="{{ post.image.url }}" alt="Post Image" style="height:400px;width:400px">
      <div class="card-body">
        <div class="like" style="display:flex;">
            <form method="post" action="{% url 'like' post.id %}">
           
              {% csrf_token %}
              {% if post.con %} 
              <button type="submit" class="btn btn-danger">Unlike</button>
             {% else %}
             <button type="submit" class="btn btn-primary">Like</button>
             {% endif %}
            </form>
           
          <a href="{% url 'comment_list' post.pk %}" style="color:black;"><svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-message-circle" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
            </svg></a>
        </div>
        <p>Likes: {{ post.get_like_count }}</p>
        <p class="card-text text-truncate">{{ post.caption|slice:"150"}}</p>



      </div>
      
      {% endfor %}
      <h1 class="text-center">Suggested Posts</h1>
      {%for post in suggested_post%}
      <a href="{% url 'profile' post.user.pk%}" style="bl"><h5 class="card-title">{{ post.user.username }}</h5></a>
      <img src="{{ post.image.url }}" alt="Post Image" style="height:400px;width:400px">
      <div class="card-body">
        <div class="like" style="display:flex;">
            <form method="post" action="{% url 'like' post.id %}">
           
              {% csrf_token %}
              {% if post.con %} 
              <button type="submit" class="btn btn-danger">Unlike</button>
             {% else %}
             <button type="submit" class="btn btn-primary">Like</button>
             {% endif %}
            </form>
           
          <a href="{% url 'comment_list' post.pk %}" style="color:black;"><svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-message-circle" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
            </svg></a>
        </div>
        <p>Likes: {{ post.get_like_count }}</p>
        <p class="card-text text-truncate">{{ post.caption|slice:"150"}}</p>
      </div>
      {% endfor %}

    </div>
  
</div>
</div>
{% endblock %}